<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>New users</h2>
	<hr class="small">
        <p class="lead">For Apps and submission of analysis requests please use <a target="_blank" href="https://flaski.age.mpg.de/">Flaski</a>.
		<br>Feel free to <a target="_blank" href="#contact">contact</a> us if you need more help.
		<br>Please <a href="mailto:bioinformatics@age.mpg.de?subject=server access">mail</a> us if you would like access to the inhouse HPC. 
		<br>For access to the resources of the <a target="_blank" href="https://mpcdf.mpg.de">Max Planck Computing and Data Facility (MPCDF)</a> you can register <a target="_blank" href="https://selfservice.mpcdf.mpg.de/register/antrag.php?lang=en">here</a>.
		<br>Once your registration at the <a target="_blank" href="https://mpcdf.mpg.de">MPCDF</a> is confirmed you can activate further services <a target="_blank" href="https://selfservice.mpcdf.mpg.de">here</a>.
	</p>
      </div>
      <div id="uniquename" class="col-lg-12 text-center" style="display:none;">
        <p class="lead"><b>Why?</b><br>By making use of the already existing infrastructure of the Max Planck Society we are decreasing our overheads - hardware costs, electrical bill, human resources. This means we have more time to work on what really matters, your projects.
        <br><br><b>How?</b><br>Our High Performance Computing Cluster is located in-house at the <a target="_blank" href="http://age.mpg.de">Max Planck Institute for Biology of Ageing</a> in Cologne.<br>
	Our public content is hosted at <a target="_blank" href="https://github.com/">GitHub.com</a>.<br>
	Our private content is hosted by a GitHub Enterprise solution at the <a target="_blank" href="http://www.molgen.mpg.de/">Max Planck Institute for Molecular Genetics</a> in Berlin.<br>
	Our data is delivered and backed up at the <a target="_blank" href="http://www.mpcdf.mpg.de">Max Planck Computing and Data Facility</a> in Garching.<br>
	<b>1. </b>Once you <a target="_blank" href="https://selfservice.mpcdf.mpg.de/register/antrag.php?lang=en">register</a> in Garching we will be asked if you should be granted access. We will confirm your affiliation and you will receive a confirmation email.<br> 
	<b>2. </b>Once you have <a target="_blank" href="https://selfservice.mpcdf.mpg.de">activated</a> your <a target="_blank" href="https://datashare.mpcdf.mpg.de">cloud storage solution</a> we will associate your user name with your project and you will be automatically notified everytime new data is available.<br>
	<b>3. </b>We will then ask Berlin to send you an user account for the <a target="_blank" href="http://github.molgen.mpg.de/">GitHub Enterprise</a> solution. This is the account you need to access your projects here.
	<br><br><b>Apps</b><br>All our platforms are now responsive. You can access them from your smartphone or tablet.
        <br><a target="_blank" href="https://desktop.github.com">GitHub Desktop</a>
	<br><a target="_blank" href="https://github.com/mobile">GitHub</a> for mobile.
        <br><a target="_blank" href="https://owncloud.org/install/#install-clients">ownCloud clients</a>
	<br><br><b>Help?</b><br>We are in room 1 | AW | 60.
	<br>bioinformatics@age.mpg.de
	<br>Tel.: 314	
	</p>
	<a href="javascript:ReverseDisplay('uniquename')" class="btn btn-dark">Hide</a> 
      </div>

    </div>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
