<aside class="callout">
  <div class="text-vertical-center">
    <h1>Teaching and hands-on-support</h1>
    <p class="lead">We have a lean approach to teaching. Biologists don't do rocket science and rocket scientists don't do biology.<br>
    We provide teaching and support tailored to the user's needs. We have an open door policy and guest terminals available to any user that wishes to run his/her computational work with us.
    <br><h2>[bit] Sessions - every Friday from 09:30 to 11:30 in Meeting Room 1 (First Floor).</h2>
    </p>
  </div>
</aside>
