<section id="shiny" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
     <div class="col-lg-10 col-lg-offset-1">
      <h1>Shiny</h1>
      <p class="lead">Shiny Apps give researchers without coding experience the environment they need to make state-of-the-art graphics. 
        Access to our Shiny server running the bellow listed Apps requires intranet access.</h2>
      </p>
      <br>
      <a href="javascript:ReverseDisplay('shiny_more')" class="btn btn-light">show Apps</a>
      <div id="shiny_more" class="col-lg-12 text-center" style="display:none;">
        <br>
        <div class="col-md-3 col-sm-6">
          <p class="lead"><strong><a class="white" target="_blank" href="https://shiny.age.mpg.de/VennDiagram/">Venn diagram</a></strong></p>
        </div>
      </div>  
    </div>
  </div>
</div>
</section>
  
