<aside class="callout">
  <div class="text-vertical-center">
    <h1>Teaching and hands-on-support</h1>
    <p class="lead">We have a lean approach to teaching. Biologists don't do rocket science and rocket scientists don't do biology.<br>
    We provide teaching and support tailored to the user's needs. We have an open door policy and guest terminals available to any user that wishes to run his/her computational work with us.
    <br><h2>[bit] Sessions - every Friday from 09:30 to 11:30 in Meeting Room 1 (First Floor).</h2>
    </p>
    <br>
    <a href="javascript:ReverseDisplay('tutorials_more')" class="btn btn-light">Tutorials</a>
    <div id="tutorials_more" class="col-lg-12 text-center" style="display:none;">
      <br>
      <div class="col-md-3 col-sm-6">
        <p class="lead"><strong><a class="white" target="_blank" href="https://github.com/mpg-age-bioinformatics/cluster_first_steps">Cluster first steps</a></strong></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="lead"><strong><a class="white" target="_blank" href="https://github.com/mpg-age-bioinformatics/mpg-age-bioinformatics.github.io/blob/master/tutorials/TheUnixShell.pdf">The Unix Shell</a></strong></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="lead"><strong><a class="white" target="_blank" href="http://github.com/mpg-age-bioinformatics/mpg-age-bioinformatics.github.io/blob/master/tutorials/RemoteServers.pdf">Help your self on a remote server</a></strong></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="lead"><strong><a class="white" target="_blank" href="http://github.com/mpg-age-bioinformatics/mpg-age-bioinformatics.github.io/blob/master/tutorials/IntroductionToR.pdf">Introduction to R</a></strong></p>
      </div>
    </div>

  </div>
</aside>
