<head>
<style>
p.big {
    line-height: 3.8;
}
</style>
</head>


<header id="top" class="header">
<div class="text-vertical-center", style="position:relative;">
    <br>
    <br>
    <h1>Bioinformatics Core Facility</h1>
    <h3>Max Planck Institute for Biology of Ageing</h3>
    <br>
    <p class="big">
    <a href="https://flaski.age.mpg.de" class="btn btn-dark btn-lg">Apps</a>
    <a href="https://flaski.age.mpg.de/index#submissions" class="btn btn-dark btn-lg">Pipelines</a>
    <a href="https://github.com/mpg-age-bioinformatics" class="btn btn-dark btn-lg">Public Code</a>
    <a href="#services" class="btn btn-dark btn-lg">Services</a>
    <a href="#about" class="btn btn-dark btn-lg">Register</a>
    <a href="https://github.molgen.mpg.de/mpg-age-bioinformatics" class="btn btn-dark btn-lg">Projects</a>
    <!--<a href="https://github.molgen.mpg.de/issues?utf8=✓&q=is%3Aopen+is%3Aissue+user%3Ampg-age-bioinformatics+" class="btn btn-dark btn-lg">Issues</a>-->
    <a href="#callout" class="btn btn-dark btn-lg">Education</a>
    <a href="https://datashare.mpcdf.mpg.de" class="btn btn-dark btn-lg">Data</a>
    </p>

    <div style="position:absolute;bottom:5px;">
        <p><a href="https://www.meetup.com/Koln-BioInformatics-Meetup/">
        <img style="MARGIN-LEFT: 15px" border="0" alt="Köln BioInformatics Meetup" src="img/meetup.png" width="100" height="100" align="left" ></a>
        </p>
     </div>


 </div>


</header>
