<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Bioinformatics Core Facility</h1>
    <h3>Max Planck Institute for Biology of Ageing</h3>
    <br>
    <a href="https://github.com/mpg-age-bioinformatics/AGEpy" class="btn btn-dark btn-lg">AGEpy</a>
    <a href="https://github.com/mpg-age-bioinformatics" class="btn btn-dark btn-lg">Public Code</a>
    <a href="https://github.molgen.mpg.de/mpg-age-bioinformatics" class="btn btn-dark btn-lg">Projects</a>
    <a href="https://github.molgen.mpg.de/issues?utf8=✓&q=is%3Aopen+is%3Aissue+user%3Ampg-age-bioinformatics+" class="btn btn-dark btn-lg">Issues</a>
    <a href="https://github.molgen.mpg.de/mpg-age-bioinformatics/core/wiki" class="btn btn-dark btn-lg">Wiki</a>
    <a href="https://datashare.mpcdf.mpg.de" class="btn btn-dark btn-lg">Data</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</header>
