<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Jobs & Hosting</h3>
        <p class="lead">We are always looking for interesting people. Don't hesitate to apply if you would like to work with us.<br>We are also happy to host guests either associated with research groups or independently.</p>
        <a href="mailto:jorge.boucas@age.mpg.de?Subject=Application" class="btn btn-lg btn-dark">Apply</a>
      </div>
    </div>
  </div>
</aside>
