<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>

<section id="partners" class="partners">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12 text-center">
        <h2>Partners</h2>
        <hr class="small">
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                </div> 
            </div> 

            <div class="col-md-3 col-sm-6">
                <div class="service-item">

                <a href="http://www.mpi-cbg.de/services-facilities/core-facilities/scientific-computing-facility/services/" target="_top">
                <img class="img-portfolio img-responsive" src="img/MPICBG_logo_bw.png" title="Max Planck Institute for Molecular Cell Biology and Genetics">
                </a>
                
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                <a href="http://listerlab.org" target="_top"><img class="img-portfolio img-responsive" src="img/uwa.png" title="University of Western Australia"></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                </div>
            </div>



        </div>
      </div>
    </div>
  </div>
</section>
