<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>


<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>People</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
	      <a href="mailto:jorge.boucas@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg" title="jorge.boucas@age.mpg.de">
		<div class="col-lg-12 text-center"><p>Jorge Boucas, Ph.D. | Head of Bioinformatics | Tel.: 312</p></div>
            </a></div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:franziska.metge@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg" title="franziska.metge@age.mpg.de">
		<div class="col-lg-12 text-center"><p>Franziska Metge | Bioinformatician | Tel.: 315</p></div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:rafael.cuadrat@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg" title="rafael.cuadrat@age.mpg.de">
              	<div class="col-lg-12 text-center"><p>Rafael Cuadrat, Ph.D. | Bioinformatician | Tel.: 316</p></div>
	      </a>
	    </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:bernd.wozny@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg" title="daniel.rosskopp@age.mpg.de">
              	<div class="col-lg-12 text-center"><p>Daniel Rosskopp | Systems Administrator | Tel.: 257</p></div>
	      </a>
	    </div>
          </div>
        </div>
        <!-- /.row (nested) -->
	<a href="javascript:ReverseDisplay('oldguys')" class="btn btn-dark">Show/hide past members</a>
 	<a href="javascript:ReverseDisplay('guests')" class="btn btn-dark">Show/hide guests</a>
	<br>
	<br>
	<div id="oldguys" style="display:none;">
	  <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="#">
                  <img class="img-portfolio img-responsive" src="img/portfolio-5.jpg">
                  <div class="col-lg-12 text-center"><p>Tobias Jakobi | Developer</p></div>
                </a>
              </div>
            </div>
          </div>
          <a href="javascript:ReverseDisplay('oldguys')" class="btn btn-dark">Show/hide past members</a>
          <a href="javascript:ReverseDisplay('guests')" class="btn btn-dark">Show/hide guests</a>
	</div>

        <div id="guests" style="display:none;">
          <div class="row">
          <div class="col-lg-12 text-center"> 
	  <p class="lead"><br>Qianhui YU, Comparative Biology Group, CAS-MPG Partner Institute for Computational Biology, Shanghai, China.<br>
          Research Bioinformatician associated with Xiangru's Xu Research Group. 
	  <br><br>Sandra Sobonocanec Ph.D., Laboratory for Reactive Radicals, Ruder Boskovic Institute, Zagreb, Croatia.<br>
          Independent guest.
	  <br><br>Zeljka Safranko Ph.D., Laboratory for Reactive Radicals, Ruder Boskovic Institute, Zagreb, Croatia.<br>
	  Independent guest.
	  <br><br>Annthomy Gilles, student, MSc in Bioinformatics University of Rouen, France.<br> 
	  Master student.
      <br><br>Ivan Sabol Ph.D., Laboratory of Molecular Virology and Bacteriology, Ruder Boskovic Institute, Zagreb, Croatia.<br>
      Independent guest.
      <br></p> 
	</div>
        <a href="javascript:ReverseDisplay('oldguys')" class="btn btn-dark">Show/hide past members</a>
        <a href="javascript:ReverseDisplay('guests')" class="btn btn-dark">Show/hide guests</a>
      </div>





      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
