<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>


<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>People</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
	      <a href="mailto:jorge.boucas@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg" title="jorge.boucas@age.mpg.de">
		<div class="col-lg-12 text-center"><p>Jorge Boucas, Ph.D. | Head of Bioinformatics | Tel.: 312</p></div>
            </a></div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:yun.wang@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg" title="yun.wang@age.mpg.de">
		<div class="col-lg-12 text-center"><p>Yun Wang, Ph.D. | Bioinformatician | Tel.: 313</p></div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:ayesha.iqbal@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-6.jpg" title="ayesha.iqbal@age.mpg.de">
              	<div class="col-lg-12 text-center"><p>Ayesha Iqbal | Data Scientist | Tel.: 316</p></div>
	      </a>
	    </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="mailto:hossain.amin@age.mpg.de?Subject=from%20website" target="_top">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg" title="hossain.amin@age.mpg.de">
              	<div class="col-lg-12 text-center"><p>Hossain Md Al Amin | cloud DevOPs engenieer  | Tel.: 257</p></div>
	      </a>
	    </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
